#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    columns: [
        {
            "name": "FA",
            "datatype": Struct([
                (
                    name: "Label",
                    dtype: String,
                ),
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Doubles",
                    dtype: List(Int8),
                ),
                (
                    name: "Triples",
                    dtype: List(Int8),
                ),
            ]),
            "length": 12,
            "values": [
                {
                    "name": "Label",
                    "datatype": String,
                    "bit_settings": "",
                    "values": [
                        "Lau",
                        "Myr",
                        "Pam",
                        "Hx7",
                        "Hx9",
                        "Ste",
                        "Ole",
                        "Vac",
                        "Lin",
                        "Lnn",
                        "Ara",
                        "Gad",
                    ],
                },
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        12,
                        14,
                        16,
                        16,
                        16,
                        18,
                        18,
                        18,
                        18,
                        18,
                        20,
                        20,
                    ],
                },
                {
                    "name": "Doubles",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
                {
                    "name": "Triples",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                219217.297,
                1306287.654,
                44889817.472,
                2783621.317,
                1415304.253,
                0.0,
                14415428.075,
                135552294.092,
                5451410.333,
                207265937.604,
                3926777.0,
                299295489.549,
                0.0,
                0.0,
                0.0,
                1609317.0,
                0.0,
                0.0,
                0.0,
                0.0,
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                0.0,
                244503.783,
                7143699.986,
                387486.787,
                117877.669,
                0.0,
                2315486.235,
                27947506.586,
                0.0,
                48770610.886,
                0.0,
                43629076.239,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
            ],
        },
    ],
)