#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    columns: [
        {
            "name": "FA",
            "datatype": Struct([
                (
                    name: "Label",
                    dtype: String,
                ),
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Doubles",
                    dtype: List(Int8),
                ),
                (
                    name: "Triples",
                    dtype: List(Int8),
                ),
            ]),
            "length": 14,
            "values": [
                {
                    "name": "Label",
                    "datatype": String,
                    "bit_settings": "",
                    "values": [
                        "Myr",
                        "Pam",
                        "H7x",
                        "H9x",
                        "Pld",
                        "Ste",
                        "Plt",
                        "Ole",
                        "Vac",
                        "Lin",
                        "Ara",
                        "Lnn",
                        "Gad",
                        "Beh",
                    ],
                },
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        14,
                        16,
                        16,
                        16,
                        16,
                        18,
                        16,
                        18,
                        18,
                        18,
                        20,
                        18,
                        20,
                        22,
                    ],
                },
                {
                    "name": "Doubles",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                7,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                                15,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
                {
                    "name": "Triples",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                1942426.0,
                252451410.0,
                6468975.0,
                765693.0,
                54631714.0,
                29038840.0,
                17834513.0,
                310728418.0,
                5910202.0,
                124163163.0,
                2178544.0,
                154839391.0,
                1944631.0,
                1498377.0,
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                66332.0,
                21324898.0,
                1095208.0,
                33136.0,
                10154803.0,
                1760369.0,
                2940627.0,
                30996682.0,
                340750.0,
                17683944.0,
                112589.0,
                16610426.0,
                100037.0,
                99627.0,
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                114135.0,
                13013927.0,
                3442104.0,
                118562.0,
                35264753.0,
                199796.0,
                9758151.0,
                27034047.0,
                1.0,
                35283246.0,
                1.0,
                32160967.0,
                0.0,
                0.0,
            ],
        },
    ],
)