#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    columns: [
        {
            "name": "FA",
            "datatype": Struct([
                (
                    name: "Label",
                    dtype: String,
                ),
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Doubles",
                    dtype: List(Int8),
                ),
                (
                    name: "Triples",
                    dtype: List(Int8),
                ),
            ]),
            "length": 14,
            "values": [
                {
                    "name": "Label",
                    "datatype": String,
                    "bit_settings": "",
                    "values": [
                        "Myr",
                        "Pam",
                        "H7x",
                        "H9x",
                        "Pld",
                        "Ste",
                        "Plt",
                        "Ole",
                        "Vac",
                        "Lin",
                        "Ara",
                        "Lnn",
                        "Gad",
                        "Beh",
                    ],
                },
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        14,
                        16,
                        16,
                        16,
                        16,
                        18,
                        16,
                        18,
                        18,
                        18,
                        20,
                        18,
                        20,
                        22,
                    ],
                },
                {
                    "name": "Doubles",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                7,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                                15,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
                {
                    "name": "Triples",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                63152.0,
                10979893.0,
                174483.0,
                122121.0,
                3608763.0,
                1474840.0,
                2059406.0,
                18063033.0,
                187048.0,
                10305173.0,
                1.0,
                15035222.0,
                282804.0,
                0.0,
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                157250.0,
                31226802.0,
                1252915.0,
                224904.0,
                13611359.0,
                2127978.0,
                6713015.0,
                34791866.0,
                513099.0,
                22735914.0,
                143988.0,
                34806450.0,
                1622351.0,
                0.0,
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                243629.0,
                10585605.0,
                828346.0,
                416624.0,
                1223659.0,
                947716.0,
                5209849.0,
                41664594.0,
                1.0,
                21069184.0,
                1.0,
                20692514.0,
                0.0,
                0.0,
            ],
        },
    ],
)