#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    columns: [
        {
            "name": "FA",
            "datatype": Struct([
                (
                    name: "Label",
                    dtype: String,
                ),
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Doubles",
                    dtype: List(Int8),
                ),
                (
                    name: "Triples",
                    dtype: List(Int8),
                ),
            ]),
            "length": 18,
            "values": [
                {
                    "name": "Label",
                    "datatype": String,
                    "bit_settings": "",
                    "values": [
                        "Lau",
                        "Myr",
                        "Pam",
                        "Hx7",
                        "Hx9",
                        "Hx11",
                        "Pl7",
                        "Pl9",
                        "Ste",
                        "Ole",
                        "Vac",
                        "Lin",
                        "gLn",
                        "Eic",
                        "aLn",
                        "Etr",
                        "ARA",
                        "EPA",
                    ],
                },
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        12,
                        14,
                        16,
                        16,
                        16,
                        16,
                        16,
                        16,
                        18,
                        18,
                        18,
                        18,
                        18,
                        20,
                        18,
                        20,
                        20,
                        20,
                    ],
                },
                {
                    "name": "Doubles",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                7,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                0,
                                0,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                6,
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                                15,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                5,
                                8,
                                11,
                                14,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                5,
                                8,
                                11,
                                14,
                                17,
                            ],
                        },
                    ],
                },
                {
                    "name": "Triples",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                0.0,
                16649405.0,
                180394384.0,
                471762.0,
                480687323.0,
                1026972.0,
                1354791.0,
                1877499.0,
                11959794.0,
                79700230.0,
                9697803.0,
                41231742.0,
                2235907.0,
                884088.0,
                12227915.0,
                3337182.0,
                13761196.0,
                48060874.0,
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                130209.0,
                4627390.0,
                76477510.0,
                103799.0,
                116453037.0,
                222485.0,
                309217.0,
                97430.0,
                1690891.0,
                14952451.0,
                2147476.0,
                3737851.0,
                494559.0,
                1.0,
                366290.0,
                665793.0,
                2933699.0,
                8485912.0,
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                1.0,
                10383635.0,
                223279635.0,
                116215.0,
                98157199.0,
                476078.0,
                243797.0,
                240645.0,
                4214685.0,
                5475980.0,
                2033434.0,
                5984932.0,
                390542.0,
                191037.0,
                1774002.0,
                1.0,
                696834.0,
                4155387.0,
            ],
        },
    ],
)