(
    columns: [
        {
            "name": "Label",
            "datatype": String,
            "bit_settings": "",
            "values": [
                Some("Pa"),
                Some("St"),
                Some("Ol"),
                Some("Pi"),
                Some("Li"),
                Some("Pn"),
                Some("Ln"),
                Some("Ar"),
                Some("Gd"),
            ],
        },
        {
            "name": "Carbons",
            "datatype": UInt8,
            "bit_settings": "",
            "values": [
                Some(16),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(18),
                Some(20),
                Some(20),
            ],
        },
        {
            "name": "Doubles",
            "datatype": List(Int8),
            "bit_settings": "",
            "values": [
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                        Some(0),
                    ],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [
                        Some(0),
                        Some(0),
                    ],
                }),
            ],
        },
        {
            "name": "Triples",
            "datatype": List(Int8),
            "bit_settings": "",
            "values": [
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
                Some({
                    "name": "",
                    "datatype": Int8,
                    "bit_settings": "",
                    "values": [],
                }),
            ],
        },
        {
            "name": "TAG",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(145011164.005),
                Some(74037315.87),
                Some(595392558.25),
                Some(42194071.111),
                Some(1158289211.401),
                Some(599666360.16),
                Some(5070004.063),
                Some(7737659.8),
                Some(25798972.603),
            ],
        },
        {
            "name": "DAG1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(302116780.058),
                Some(195624715.683),
                Some(2545783364.126),
                Some(208041598.375),
                Some(4819585526.736),
                Some(2420977752.198),
                Some(12823290.138),
                Some(31481582.538),
                Some(85358549.162),
            ],
        },
        {
            "name": "MAG2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(19739896.657),
                Some(7112473.957),
                Some(543320871.488),
                Some(6057859.048),
                Some(1226498927.113),
                Some(37615085.468),
                Some(1426035.096),
                Some(303620.577),
                Some(3409238.721),
            ],
        },
        {
            "name": "TAG.Experimental",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.05465525050153128),
                Some(0.027904941478825194),
                Some(0.22440568380500192),
                Some(0.015903103337420378),
                Some(0.4365635393434947),
                Some(0.2260164957420533),
                Some(0.0019109035087635864),
                Some(0.0029163529412814496),
                Some(0.009723729341628407),
            ],
        },
        {
            "name": "DAG1223.Experimental",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.028443105183385525),
                Some(0.018417296661156168),
                Some(0.23967547908476872),
                Some(0.019586297272080572),
                Some(0.4537449990396341),
                Some(0.22792552217451903),
                Some(0.0012072622716360973),
                Some(0.002963867029483972),
                Some(0.008036171283335709),
            ],
        },
        {
            "name": "MAG2.Experimental",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.010696324958705879),
                Some(0.0038539883985373724),
                Some(0.29440562426764705),
                Some(0.0032825313149989015),
                Some(0.6645947197121014),
                Some(0.020382233225752354),
                Some(0.0007727160407360248),
                Some(0.00016452083879527982),
                Some(0.0018473412427256765),
            ],
        },
        {
            "name": "TAG.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.03435869859161207),
                Some(0.023271732748695765),
                Some(0.2214320973571426),
                Some(0.025020885924441127),
                Some(0.38346175881547834),
                Some(0.2971066184907746),
                Some(0.0013521110152694548),
                Some(0.0038969824263802026),
                Some(0.01009911463020572),
            ],
        },
        {
            "name": "DAG1223.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.04366551911582492),
                Some(0.021892203208753236),
                Some(0.24190566892066315),
                Some(0.012747960331815005),
                Some(0.4935713344356462),
                Some(0.17460793011297804),
                Some(0.0016263566417566956),
                Some(0.0022283949156599067),
                Some(0.007754632316902722),
            ],
        },
        {
            "name": "MAG2.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.0),
                Some(0.0),
                Some(0.26903533686452374),
                Some(0.028870651512685624),
                Some(0.4761747986006288),
                Some(0.22018962848691995),
                Some(0.0),
                Some(0.0029274191859427856),
                Some(0.0028021653492991756),
            ],
        },
        {
            "name": "DAG13.DAG1223.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.10707954113782271),
                Some(0.046880231114163215),
                Some(0.1938660932454682),
                Some(0.008536715468099984),
                Some(0.4022006199512154),
                Some(0.22219844287712168),
                Some(0.003318185983018563),
                Some(0.0028213247648764036),
                Some(0.013098845458213793),
            ],
        },
        {
            "name": "DAG13.MAG2.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.07663471327294397),
                Some(0.0399304180189691),
                Some(0.1894057135736793),
                Some(0.022213389348631114),
                Some(0.3225479491591912),
                Some(0.3288336270002037),
                Some(0.002479997242777367),
                Some(0.004292268992524534),
                Some(0.013661923391079769),
            ],
        },
        {
            "name": "DAG13.Theoretical",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.07663471327294397),
                Some(0.039930418018969106),
                Some(0.18940571357367927),
                Some(0.022213389348631117),
                Some(0.3225479491591912),
                Some(0.3288336270002037),
                Some(0.002479997242777367),
                Some(0.004292268992524535),
                Some(0.013661923391079772),
            ],
        },
        {
            "name": "MAG2.Calculated",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.010696324958705879),
                Some(0.0038539883985373724),
                Some(0.29440562426764705),
                Some(0.0032825313149989015),
                Some(0.6645947197121014),
                Some(0.020382233225752354),
                Some(0.0007727160407360248),
                Some(0.00016452083879527982),
                Some(0.0018473412427256765),
            ],
        },
        {
            "name": "DAG13.Calculated",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                Some(0.07663471327294397),
                Some(0.0399304180189691),
                Some(0.1894057135736793),
                Some(0.022213389348631114),
                Some(0.3225479491591912),
                Some(0.3288336270002037),
                Some(0.002479997242777367),
                Some(0.004292268992524534),
                Some(0.013661923391079769),
            ],
        },
    ],
)